@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans|Roboto');
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}
a {
  color: inherit;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.scroll-nav {
  background-color: #e53935  ;
  transform: scale(1);
  box-shadow: 0 3px 4px 2px rgba(34, 34, 34, 0.3);
}
.on-bottom {
  background-color: #e53935;
  color: rgb(42, 42, 42);
}
.on-bottom #brand, .on-bottom #brand:hover a:first-child {
  color: #ffcdd2;
}
.on-bottom li:not(#brand) a::after, .on-bottom li:not(#brand) a::before {
  background-color: #4b4b4b;
}
body {
  font-family: 'Roboto', sans-serif;
}

nav {
  box-shadow: 0 3px 4px 2px rgba(34, 34, 34, 0.3);
  text-transform: uppercase;
  transition: all 150ms;
  z-index: 3;
  position: fixed;
  top: 0;
  background-color: #b71c1c;
  width: 100%;
  padding: 0 15px;
  color: #ebebeb;
}
nav ul {
  display: flex;
  flex-direction: column;
}
nav li:hover a {
  color: #ff1744;
}
nav li:not(#brand) {
  display: flex;
  align-items: center;
  height: 0;
  transition: all 150ms;
  overflow: hidden;
}
nav li:not(#brand) a {
  width: 100%;
  height: 100%;
}
nav li:not(#brand).show-menu {
  height: 55px;
}
nav #brand {
  font-family: 'Kaushan Script', cursive;
  font-weight: bolder;
  font-size: 1.2em;
  order: -2;
  height: 60px;
  padding: 0;
  text-transform: capitalize;
  letter-spacing: 1px;
  justify-content: space-between;
  color: #0000;
  align-items: center;
  display: inline-flex;
}
nav #brand:hover a:first-child {
  color: #ffcdd2;
}
nav #brand i {
  font-size: 25px;
  color: white;
  font-weight: bolder;
}
nav li:not(#brand) a {
  transition: all 150ms;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
}
nav a:first-child {
  padding-left: 0 !important;
}
header {
  background-image: url('img/header2.jpg');
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(24, 24, 24, 0.82);
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1, header h2 {
  text-shadow: 2px 2px 3px rgba(93, 93, 93, 0.45);
}
header h1 {
  font-size: 38px;
  color: #fffde7;
  position: relative;
  font-style: italic;

  overflow: hidden;
  border-right: 5px solid #ff8a80; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 2.5s steps(30, end), blink-caret 700ms step-end infinite;
}
header h2 {
  margin-top: 15px;
  font-size: 17px;
  color: #ffcdd2;
}
header .text-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  top: 30px;
}
header a {
  margin-top: 30px;
  color: white;
  text-transform: uppercase;
  padding: 0 25px;
  height: 50px;
  border-radius: 5px;
  align-items: center;
  transition: all 150ms;
  display: inline-flex;
  background-color: #ff8a80;
}
header a:hover {
  background-color: #ef5350;
}
header a i {
  margin-left: 10px;
}
main section {
  overflow: hidden;
  padding: 75px 0;
}
main section h2:first-child {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: #373737;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 75px;
}
main #skills figure {
  width: 100%;
  text-align: center;
}
main figure ~ figure {
  margin-top: 50px;
}
main #skills figcaption {
  font-size: 30px;
  text-transform: capitalize;
}
main #skills figure figcaption p:first-child {
  margin: 10px 0 15px 0;
  font-size: 27px;
}
main #skills figure figcaption p:last-child {
  font-weight: bold;
  color: #444444;
}
main #skills figure .bxl-git {
  color: #e4531f;
}

main #hobby figure {
  width: 100%;
  text-align: center;
}
main figure ~ figure {
  margin-top: 50px;
}
main #hobby figcaption {
  font-size: 30px;
  text-transform: capitalize;
}
main #hobby figure figcaption p:first-child {
  margin: 10px 0 15px 0;
  font-size: 27px;
}
main #hobby figure figcaption p:last-child {
  font-weight: bold;
  color: #444444;
}
main #hobby figure .bxl-git {
  color: #e4531f;
}

main #certificate {
  border-top: 1px solid rgba(224, 221, 221, 1);
  background-color: rgba(245, 245, 245, 0.77);
}
main #certificate figure {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #969696;
}
main #certificate figure:not(:nth-of-type(-n+3)) img {
  object-position: top;
  object-fit: cover;
}
main #certificate figure img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -4px;
}
main #certificate figure figcaption {
  padding: 15px 20px;
  border-top: 2px solid #909090;
  background-color: #ff8a80;
  color: white;
  height: 100px;
}
main #certificate figure figcaption h3 {
  margin-bottom: 10px;
}
main #certificate figure:last-of-type + small {
  display: block;
  width: 100%;
  height: 60px;
  color: #ef5350;
  line-height: 60px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}

main #creation {
  border-top: 1px solid rgba(224, 221, 221, 1);
  background-color: rgba(245, 245, 245, 0.77);
}
main #creation figure {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #969696;
}
main #creation figure:not(:nth-of-type(-n+3)) img {
  object-position: top;
  object-fit: cover;
}
main #creation figure img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -4px;
}
main #creation figure figcaption {
  padding: 15px 20px;
  border-top: 2px solid #909090;
  background-color: #ff8a80;
  color: white;
  height: 100px;
}
main #creation figure figcaption h3 {
  margin-bottom: 10px;
}
main #creation figure:last-of-type + small {
  display: block;
  width: 100%;
  height: 60px;
  color: #ef5350;
  line-height: 60px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}

main #about ul {
  position: relative;
}
main #about ul::before {
  content: '';
  position: absolute;
  left: 30px;
  top: 0;
  height: 100%;
  width: 1.5px;
  background-color: #ececec;
}
main #about li {
  margin-bottom: 30px;
  padding-left: 88px;
  position: relative;
}
main #about li .bx {
  display: none;
}
main #about li img {
  left: 0;
  position: absolute;
  box-shadow: 0 0 1px 4px #ececec, 0 0 1px 6px #d6d6d6;
  border-radius: 50%;
}
main #about li h3 {
  margin-bottom: 15px;
}
main #about li h3 a {
  color: #2074b3;
}
main #about li h3, main #about li p {
  text-align: left;
}
main #contact {
  background-color: #2d2d2d;
}
main #contact h2 {
  color: #ff8a80;
}
main #contact ul {
  display: flex;
  flex-wrap: wrap;
}
main #contact ul li {
  color: #e57373;
  flex-grow: 1;
  width: 100%;
  padding: 12px 0;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid white;
  transition: all 150ms;
  margin-bottom: 25px;
}
main #contact ul li:first-child {
  margin-right: 10px;
}
main #contact ul li:nth-child(2) {
  margin-left: 10px;
}
main #contact ul li:nth-child(-n+2) {
  width: calc(50% - 10px);
}
main #contact ul li:hover {
  background-color: #f4f4f4;
  color: #2d2d2d;
}
main #contact ul li a {
  justify-content: center;
  display: flex;
  align-items: center;
}
main #contact ul li a .bx {
  margin-right: 5px;
}
main #contact li .bxl-linkedin-square {
  color: #30a2c6;
}
main #contact li .bxl-google-plus-circle {
  color: #d52c2c;
}
main #contact li .bxl-instagram {
  color: #80148a;
}
main #contact li .bxl-facebook-square {
  color: #19447c;
}
main #contact ul + address, main #contact ul + address iframe {
  width: 100%;
}
main #contact ul + address {
  color: #d9d9d9;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(232, 232, 232, 0.37);
}
main #contact ul + address small {
  margin: 10px 0;
  display: block;
}
footer {
  border-top: 1px solid #252424;
  background-color: #282828;
  height: 60px;
  color: #eeeeee;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  nav {
    box-shadow: none;
    background-color: transparent;
    height: 80px;
    font-size: 14px;
    transform: scale(1.1);
  }
  nav ul {
    height: 100%;
    justify-content: center;
    flex-direction: row;
  }
  nav li:hover a {
    color: inherit;
  }
  nav li:not(#brand) {
    height: auto !important;
  }
  nav li:not(#brand) a {
    width: auto;
    height: auto;
  }
  nav li:not(:last-child) {
    margin-right: 20px;
  }
  nav li:not(#brand) a {
    position: relative;
  }
  nav li:not(#brand) a::before {
    left: 50%;
  }
  nav li:not(#brand) a::after {
    right: 50%;
  }
  nav li:not(#brand) a::after, nav li:not(#brand) a::before {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -12px;
    background-color: #ff8a80;
    transition: all 150ms;
  }
  nav li:not(#brand) a:hover::after, nav li:not(#brand) a:hover::before {
    width: 50%;
  }
  nav #brand {
    font-size: 1.5em;
    height: 80px;
    order: 0;
  }
  nav #brand a:last-child {
    display: none;
  }
  header {
    background-attachment: fixed;
    height: 100vh;
  }
  header h1 {
    font-size: 50px;
  }
  header h2 {
    font-size: 25px;
  }
  main section {
    padding: 110px 0;
  }
  main #skills figure {
    width: calc(100% / 3);
  }
    main #hobby figure {
    width: calc(100% / 3);
  }
  main figure ~ figure {
    margin-top: 0;
  }
  main figure:nth-of-type(n+4) {
    margin-top: 60px !important;
  }
  main #certificate figure {
    visibility: hidden;
    margin-right: 25px;
    width: calc(100% / 3 - 25px);
  }
  main #certificate figure:nth-child(3n+3) {
    margin-right: 0;
    width: calc(100% / 3);
  }
  main #creation figure {
    visibility: hidden;
    margin-right: 25px;
    width: calc(100% / 3 - 25px);
  }
  main #creation figure:nth-child(3n+3) {
    margin-right: 0;
    width: calc(100% / 3);
  }
  main #about ul {
    width: 80%;
    margin: 0 auto;
  }
  main #about ul::before {
    display: none;
  }
  main #about li {
    width: 50%;
  }
  main #about li address {
    display: inline-block;
  }
  main #about li .bx {
    display: inline-block;
    position: absolute;
    font-size: 25px;
    color: rgb(219, 146, 63);
    z-index: 2;
    bottom: -15.5px;
  }
  main #about li:nth-child(odd) .bx {
    transform: translateX(calc(50% - 2px));
    right: -50%;
  }
  main #about li:nth-child(even) .bx {
    left: -50%;
    transform: translateX(calc(-50% + 2px));
  }
  main #about li:not(:last-child)::after, main #about li:not(:last-child)::before {
    content: '';
    position: absolute;
    height: 50%;
    width: 50%;
    bottom: 0;
  }
  main #about li:nth-child(odd)::after {
    border-top-right-radius: 15px;
    right: -50%;
    bottom: 0;
    border-top: 2px solid rgb(219, 146, 63);
    border-right: 2px solid rgb(219, 146, 63);
  }
  main #about li:nth-child(even)::before {
    left: -50%;
    border-top-left-radius: 15px;
    border-top: 2px solid rgb(219, 146, 63);
    border-left: 2px solid rgb(219, 146, 63);
  }
  main #about li:nth-child(odd) {
    padding: 0 15px 0 88px;
  }
  main #about li:nth-child(even) {
    padding: 0 88px 0 15px;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
  }
  main #about li:nth-child(even) img {
    left: auto;
    right: 0;
  }
  main #about li h3, main #about li p {
    text-align: inherit;
  }
  main #contact ul li {
    flex-grow: 0;
    padding: 0;
    margin-bottom: 40px;
  }
  main #contact ul li a {
    padding: 17px 0;
  }
  main #contact ul li:nth-child(-n+2) {
    width: calc(50% - 10px);
  }
  main #contact ul li:nth-child(n+3) {
    width: 100%;
  }
  main #contact ul li a {
    font-size: 21px;
  }
  main #contact ul + address {
    text-align: left;
  }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from {
    border-color: transparent;
  }
  50% {
    border-color: #ff8a80;
  }
}
